<html>
    <head>
        <title>Assignments</title>
    <head>
    <body>
    <b>Homework 1A</b>
    <p> Served as an introduction to basic computer science concepts such as</p>
    <p> base conversion, psuedocode, binary addition, and truth tables.</p>
    <b>Homework 1B</b>
    <p> Part 1 involved taking an input (a name) and returning information</p>
    <p> about the input (such as the number of letters in the name).</p>
    <p> Part 2 involved operations on lists (such as returning the</p>
    <p> second largest element).</p>
    <b>Homework 2A</b>
    <p> Introduced (sorting) algorithms and time complexity.</p>
    <b>Homework 2B</b>
    <p>  Simulation of decreasing gravitational acceleration</p>
    <p>  as a function of height and small time intervals. Q2 began </p>
    <p>  building the machine learning library by reading a file</p>
    <p>  and putting the data into a list of lists.</p>
    <b>Homework 3A</b>
    <p>  Q1 explored the differences and advantages between</p>
    <p>  lists, sets, and dictionaries. Q2 involved implementing recursion</p>
    <p>  into different functions, such as permutations of strings.</p>
    <b>Homework 3B</b>
    <p>  Q1 simulated percolating water with numpy arrays and recursion.</p>
    <p>  Q2 continued the analysis of the cancer cells dataset by</p>
    <p>  modifying the dataset and splitting the data into testing and training.</p>
    <b>Homework 4B</b>
    <p>  Introduction to object oriented programming in python.</p>
    <b>Homework 5B</b>
    <p>  Incorporated data analysis and machine learning with pandas and sklearn.</p>
    <p>  Created different plots from dataset and implemented KNN algorithm.</p>
    <b>My Favorite Assignment:</b>
    <p>  Homework 2B (specifically part 1) was likely my favorite assignment.</p>
    <p>  The assignment simulated a universal phenomena in an intuitive way </p>
    <p>  (recalculating gravitational acceleration on small time intervals).</p>
    <p>   The simulation also seemed practical in the sense that it is</p>
    <p>   highly applicable to the fields of astronomy and aerodynamics.</p>
    </body>
</html>

