<html>
    <head>
        <title>Classes</title>
    <head>
    <body>
    <b>Here's a list of classes I took Spring of 2020:</b>
     <p>1. Multivariable Calculus</p>
     <p>2. Physics 2: Thermodynamics, Electricity, and Magnetism</p>
     <p>3. Intro to Computer Science in Java</p>
     <p>4. University Writing</p>
     <p>5. Intro to Computer Science in Python</p>
     <b>My Favorite Class this Semester:</b>
     <p>    Physics 2 was definitely my favorite class. All of the concepts</p>
     <p>    discussed in class are vital for different fields of engineering.</p>
     <p>    As a prospetive computer engineer, learning about the fundamental</p>
     <p>    physical properties of electricity that serve as a basis for modern</p>
     <p>    techonology particulary peaked my interest.</p>
    </body>
</html>
