<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Hi! My name's Vicente Farias</p>
    <p>I'm currently a first year student at Columbia</p>
    <p>I hope to major in Computer Engineering</p>
    <a href="http://localhost:5000/assignments">Visit my Assignments Page</a>
    <p></p>
    <a href="http://localhost:5000/classes">Visit my Classes Page</a>
    <p>Link to a favorite site of mine:</p>
    <a href="http://youtube.com">Youtube</a>
    <p>Here's a picture of me:<p>
    <img src="/static/vicentef.jpg" alt="Vicente Farias"> 
    </body>
</html>

